@model WarehouseManagementSystem.Models.Warehouse

@{
    ViewData["Title"] = "Create";
}

<h1 class="title">Create New Warehouse</h1>

<hr />
    <div>
        <form asp-action="Create" class="edit-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group edit-form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group edit-form-group">
                <label asp-for="Street" class="control-label"></label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group edit-form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group buttons-edit">
                <input type="submit" value="Save" class="btn btn-primary button-edit" />
                 <a asp-action="Index" asp-route-warehouseId=1 class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
